API_GATEWAY_PORT=

EMPLOYEE_SERVICE_HOST=
EMPLOYEE_SERVICE_PORT=

ATTENDANCE_SERVICE_HOST=
ATTENDANCE_SERVICE_PORT=

USER_SERVICE_HOST=
USER_SERVICE_PORT=

AUTH_SERVICE_HOST=
AUTH_SERVICE_PORT=

TCP_RETRY_ATTEMPTS=

DATABASE_HOST= 
DATABASE_PORT= 
DATABASE_USER=
DATABASE_PASSWORD= 
DATABASE_NAME= 
DATABASE_URL=

CACHE_TTL=
CACHE_MAX=

UPLOAD_PATH=

JWT_SECRET=
JWT_EXPIRES_IN=